:root {
  --bgcolor: #091833;
  --fgcolor: #0abdc6;
  --purple: #ea00d9;
}

.modal-content {
  background-color: var(--bgcolor);
  color: var(--fgcolor);
  box-shadow: 0 0 50px 50px var(--bgcolor);
  border: none;
}

.modal-header {
  border-bottom: 1px solid var(--purple);
}

.modal-body {

}

.modal-footer {
  border-top: 1px solid var(--purple);
}

.dialog-prompt-cancel {
  display: none;
}

.modal-footer button,  .modal-footer button:hover, .modal-footer button:focus {
  /* reverse the color */
  background-color: var(--fgcolor);
  color: var(--bgcolor);
  border: none;
}

.bootbox-close-button {
  color: var(--purple);
  opacity: 1;
  text-shadow: none;
}

#online-panel {
  display: inline;
}
