
body {
overflow: hidden;
}

#game {
position: absolute;
width: 75%;
height: 100%;
}

#controller {
position: absolute;
width: 25%;
height: 100%;
right: 0px;
top: 0px;
opacity: 80%;
display: flex;
flex-direction: column;
z-index: 20;
}

#controller .panel-heading {
flex: 1;
}

#controller .panel-body {
/* display: flex; */
flex-direction: column;
flex-grow: 100;
}

.panel-tab {
height: 100%;
display: flex;
flex-direction: column;
flex: 1;
}

.character.choosed {
border: 3px solid blue;
}

@media only screen and (orientation: landscape) and (max-height: 500px) { /* phone, landscape */
#controller .panel-body ul.nav { display: none; }
#controller .panel-heading { display: none; }
#log-area { display: none; }
}

@media only screen and (orientation: portrait) {  /* phone, portrait */
#controller .panel-body ul.nav { display: none; }
#controller .panel-heading { display: none; }
#log-area { display: none; }
#controller {
width: 100%;
height: 20%;
}
#game {
top: 20%;
width: 100%;
height: 80%;
}
}

#arrow-controller img {
-webkit-touch-callout: none;
-ms-touch-callout: none;
-moz-touch-callout: none;
-o-touch-callout: none;
touch-callout: none;
}
